.questions h2 {
	color: rgb(94, 101, 115);
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 15px;
	width: 305px;
}

.questions > li {
	background: white;
}

.question-top {
  display: block;
  margin-top: 10px;
  padding: 25px 0 10px 33px;
	width: 450px;
}

.answers > li {
	margin-bottom: 5px;
}

.answers img {
	width: 36px;
	height: 36px;
	float: left;
	margin-right: 12px;
}

.answers p {
	line-height: 35px;
	height: 36px;
	font-size: 13px;
	color: rgb(85, 85, 85);
}

.question-bottom {
	display: block;
	height: 40px;
}

.question-bottom a {
	display: none;
	margin: 12px 25px;
	text-align: right;
	color: #999;
	font-size: 14px;
}

.question-bottom a:hover {
	cursor: pointer;
};

.editable .question:hover .question-bottom {
	background: #ddd;
}

.editable .question:hover .question-bottom a {
	display: block;
	float: right;
}