.questions h2 {
	color: rgb(94, 101, 115);
	font-size: 15px;
	line-height: 22px;
}

.questions > li {
  display: block;
  background: white;
  margin-top: 10px;
  padding: 33px 100px 16.5px 33px;
	width: 350px;
}

.answers img {
	width: 36px;
	height: 36px;
}

