// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.matches#top {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.matches#right {
  float: right;
}

.matches h1 {
  font-size: 40px;
}

.matches#main {
  padding-top: 10px;
}

.matches form {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

.matches h3 {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  float: left;
}

#age {
  float: left;
}

.matches select, .matches input {
  background: #628cbc;
  border: 1px solid lightgrey;
  float: left;
  margin: 4px 10px;
  padding: 5px;
  border-radius: 10px;
}

.matches input#age {
  width: 20px;
}

.matches button {
  margin: 0 20px;
  float: right;
}

ul#matches {
  border-top: 1px solid lightgrey;
  padding: 10px;
}

ul#matches > li {
  float: left;
  margin: 10px 50px;
}

.matches li {
  text-align: center;
}

.profile-top ul {
	float: left;
}

.edit-user-info {
	float: left;
	padding: 5px;
  margin-bottom: 20px;
}

.editable .edit-user-info:hover {
	background: white;
}

.editable .can-activate:hover .edit {
	opacity: 0.8;
}

.profile-top .username {
	font-size: 30px;
	color: #555;
}

.profile-top .user-info {
	font-size: 12px;
	color: #aaa;
	float: left;
}

.profile .edit {
	display: none;
  margin-top: 0;
	margin-left: 10px;
	padding: 5px;
	color: white;
	background: green;
	opacity: 0.45;
}

.profile .edit:hover {
  opacity: 0.8;
}

.profile.editable .edit {
	display: block;
	float: left;
}

.modal-screen {
  background: white;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
}

.activated .modal {
  display: block;
}

.modal form {
  border: 1px solid grey;
  z-index: 1000;
  position: absolute;
  top: 80px;
  left: 56%;
  width: 500px;
  margin-left: -280px;
  background: white;
  padding: 20px 30px;
  font-size: 14px;
}

.modal form h1 {
	font-size: 24px;
	color: #555;
}

.modal .form-row {
  margin-top: 40px;
}

.modal .form-row {
  margin-top: 40px;
}

.modal input, .modal select {
  border: 1px solid lightgrey;
  padding: 10px;
}

.modal h4 {
  color: #aaa;
  width: 80px;
  text-align: right;
  padding: 11px 20px;
  float: left;
  margin-right: 30px;
}

.errors {
  color: red;
}

button {
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 40px;
  background: #44a;
  color: white;
  opacity: 0.8;
}

.profile-item form .submit {
  margin-top: 40px;
  background: green;
  color: white;
  opacity: 0.8;
}

form button#edit-user-info {
  padding: 5px 25px;
}

button.cancel {
  background: transparent;
  border: 1px solid #aaa;
  color: #333;
}

button.cancel:hover {
  background: #ccc;
}

.profile-left {
  float: left;
  width: 450px;
}

.profile-right {
  float: right;
}

h3 {
  font-size: 16px;
  float: left;
}

button.submit:hover {
  opacity: 0.55;
}

.profile.editable .activated .edit {
  display: none;
}

.profile-item p {
	margin-bottom: 25px;
	margin-top: 5px;
}

.profile-item.activated p {
  display: none;
}

.profile textarea {
  background: white;
  border: 1px solid #aaa;
  padding: 5px;
  height: 125px;
  width: 100%;
}

.profile-bottom button {
  padding: 10px 50px;
}

.on-activated {
  display: none;
}

.activated .on-activated {
  display: block;
}

.profile-bottom h3 {
  padding-top: 16px;
	float: none;
}

.profile-bottom li {
	list-style: circle;
	list-style-position: inside;
}

.profile-bottom button:hover {
  opacity: .55;
};

.profile-details {
  margin: 18.72px;
  padding-left: 18.72px;
}

.profile-right h2 {
  float: left;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

.profile-details thead {
  text-align: left;
}

.profile-details td, .prifle-details th {
  padding: 5px;
  padding-left: 0;
  border-bottom: 1px solid grey;
}

.profile-details th {
  font-weight: bold;
}

.profile-details tr {
}