// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.matches#top {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.matches#right {
  float: right;
}

.matches h1 {
  font-size: 40px;
}

.matches#main {
  padding-top: 10px;
}

.matches form {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

.matches h3 {
  font-size: 12px;
  float: left;
}

#age {
  float: left;
}

.matches select {
  background: white;
  border: 1px solid lightgrey;
  float: left;
}

.matches .age {
  float: left;
  width: 100px;
}

ul#matches {
  border-top: 1px solid lightgrey;
  padding: 10px;
}

.profile-top ul {
	float: left;
}

.editable .profile-top-wrapper:hover {
	background: white;
}

.profile-top-wrapper {
	float: left;
	padding: 5px;
}

.editable .profile-top-wrapper:hover .edit {
	opacity: 1;
}

.profile-top .username {
	font-size: 30px;
	color: #555;
}

.profile-top .user-info {
	font-size: 12px;
	color: #aaa;
	float: left;
}

.profile .edit {
	display: none;
	margin-left: 10px;
	padding: 5px;
	color: white;
	background: green;
	opacity: 0.45;
}

.profile.editable .edit {
	display: block;
	float: left;
}

.modal-screen {
  background: white;
  opacity: 0.6;
  display: block;
  width: 800px;
  height: 800px;
}

.modal {
  display: none;
}

.activated .modal {
  display: block;
}

.modal form {
  border: 1px solid grey;
  z-index: 1000;
}

#edit-user-info form {
  position: absolute;
  top: 20%;
  left: 35%;
  background: white;
  padding: 20px 30px;
  font-size: 14px;
}

#edit-user-info h1 {
	font-size: 24px;
	color: #555;
}

#edit-user-info .form-row {
  margin-top: 40px;
}

#edit-user-info input, #edit-user-info select {
  border: 1px solid lightgrey;
  padding: 10px;
}

#edit-user-info h4 {
  color: #aaa;
  width: 80px;
  text-align: right;
  padding: 11px 20px;
  float: left;
  margin-right: 30px;
}

#profile.left {
  float: left;
  width: 450px;
}

#profile.left button {
  padding: 10px 20px;
	background: #44a;
  color: white;
}

#profile.right {
  float: right;
}

h3 {
  font-size: 16px;
}

.profile-details {
  margin: 18.72px;
  padding-left: 18.72px;
}

.profile-details thead {
  text-align: left;
}

.profile-details td, .prifle-details th {
  padding: 5px;
  padding-left: 0;
  border-bottom: 1px solid grey;
}

.profile-details th {
  font-weight: bold;
}

.profile-details tr {
}
