// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.matches#top {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.matches#right {
  float: right;
}

.matches h1 {
  font-size: 40px;
}

.matches#main {
  padding-top: 10px;
}

.matches form {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

.matches h3 {
  font-size: 12px;
  float: left;
}

#age {
  float: left;
}

.matches select {
  background: white;
  border: 1px solid lightgrey;
  float: left;
}

.matches .age {
  float: left;
  width: 100px;
}

ul#matches {
  border-top: 1px solid lightgrey;
  padding: 10px;
}

#profile.left {
  float: left;
  width: 450px;
}

#profile.right {
  float: right;
}

h3 {
  font-size: 16px;
}

.profile-details {
  margin: 18.72px;
  padding-left: 18.72px;
}

.profile-details thead {
  text-align: left;
}

.profile-details td, .prifle-details th {
  padding: 5px;
  padding-left: 0;
  border-bottom: 1px solid grey;
}

.profile-details th {
  font-weight: bold;
}

.profile-details tr {
}