
<p class='errors'></p>
<div class="activates-edit group">
  <h2>My Details</h2>
  <button class="edit">edit</button>
</div>

<table class="profile-details">
  <tbody>
    <tr>
      <td>Orientation</td>
      <td><%= user.get("orientation") %></td>
    </tr>
    <tr>
      <td>Religion</td>
      <td><%= profile.get("religion") %></td>
    </tr>
  </tbody>
</table>



<section id="edit-profile-details" class="modal">
  <form>
    <h1>Edit Your Details</h1>

    <div class="form-row">
      <label><h4>Orientation</h4>
	    <select name="user[orientation]">
	      <option value="straight"
          <% if (user.get("orientation") === "straight") { %>
            selected
          <% } %>>Straight</option>
	      <option value="gay" <% if (user.get("orientation") === "gay") { %>
          selected<% } %>>Gay</option>
	      <option value="bisexual"
          <% if (user.get("orientation") === "bisexual") { %>
            selected
          <% } %>>Bisexual</option>
	    </select>
    </div>

    <div class="form-row">
      <label><h4>Religion</h4>
	    <select name="profile[religion]">
	      <option value=0
          <% if (user.get("orientation") === "straight") { %>
            selected
          <% } %>>Straight</option>
	      <option value="gay" <% if (user.get("orientation") === "gay") { %>
          selected<% } %>>Gay</option>
	      <option value="bisexual"
          <% if (user.get("orientation") === "bisexual") { %>
            selected
          <% } %>>Bisexual</option>
	    </select>
    </div>

    <button class="submit" id="edit-user-info">Save</button>
    <button class="cancel activates-edit" id="edit-user-info">Cancel</button>
  </form>
  <div class="modal-screen"></div>
</section>