<section class="matches" id="top">
  <h1>Matches</h1>
</section>

<section class="matches" id="main">

  <ul id="matches">
    <% @users.each do |user| %>
      <li>
        <ul class="match" id="<%= user.id %>">
          <li class="username">
            <%= link_to user.username, user_url(user) %>
          </li>
          <li class="user-info">
            <%= user.zip_code %> · <%= user.age %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</section>