<h1>hey</h1>
<script>
$(document).ready(function () {
  var id = parseInt(location.pathname.split("/")[2]);
  var user = new OkClone.Models.User({id: id});
  user.fetch({
    success: function () {
      var view = new OkClone.Views.UserShow({model: user});
      $(".content-main").html(view.render().$el);
    }
  })
  
})
</script>