<ul class="messages conversation-show">
<% conversation.forEach(function (message) { %>
  <% var author = message.get("author") %>

  <li class="group conversation">
    <a href="/users/<%= author.id %>">
      <img src="<%= author.profile_pic_url || "/images/default_thumb.gif" %>">
    </a>

    <p class="body"><%= message.get("body") %></p>
  </li>
<% }) %>
</ul>