<ul class="messages show-conversation">
<% conversation.forEach(function (message) { %>
  <% var author = message.get("author") %>

  <li class="group conversation">
    <a href="/users/<%= author.id %>">
      <img src="<%= author.profile_pic_url || "/images/default_thumb.gif" %>">
    </a>

    <p class="body"><%= message.get("body") %></p>
  </li>
<% }) %>

  <li class="new-message">
    <form>
      <div class="form-row"><textarea name="body"></textarea></div>

      <button class="submit" id="send-new-message">Send</button>
    </form>
  </section>
</ul>