/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a, .button_to input, main {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

a {
  text-decoration: none;
}

html {
  background: #24d;
}

body, html {
  height: 100%;
}

main {
  display: block;
  background: #eee;
  width: 800px;
  margin: auto;
  padding: 20px;
}

header a {
  color: lightblue;
}

header nav {
  float: right;
  width: 300px;
}

header li {
  float: left;
  padding: 9px;
}

header input {
  color: lightblue;
  background: none;
  border: 0;
}