/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a, .button_to input {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

a {
  text-decoration: none;
}

html {
  background: #24d;
}

header a {
  color: lightblue;
}

header nav {
  float: right;
}

header li {
  float: left;
}

header input {
  color: lightblue;
  background: none;
  border: 0;
}


<header>
  <nav class="group">
  	<ul>
			<% if current_user %>
        <li><%= link_to "profile", user_url(current_user) %></li>
        <li><%= button_to "Sign out", session_url, method: :delete %></li>
			<% else %>
        <li><%= link_to "Sign in", new_session_url %></li>
				<li><%= link_to "Join us", root_url %></li>
			<% end %>
    </ul>
  </nav>
</header>