/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./non-layouts
 */

html, section, header, nav, ul, li, h1, h2, h4, body, label, form,
table, tr, table, thead, tbody, tr, td, th, button {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
  vertical-align: baseline;
}

input,
button,
textarea,
select {
  display: inline-block;
  box-sizing: content-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

h1#sign-in {
	text-align: center;
	padding: 50px;
	font-size: 40px;
	padding-bottom: 30px;
}

ul {
	list-style: none;
}

html {
  background: #24d;
}

body {
	font-family: sans-serif;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

a, .button_to input, main {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
}

.content {
  width: 975px;
  margin: auto;
}

.content-sidebar {
  float: left;
  width: 200px;
  background: darkblue;
}

.content-sidebar a {
  color: lightblue;
  padding: 10px 5px;
  display: block;
  border-bottom: 2px solid #005;
}

.content-sidebar a:hover {
  background: #005;
}

.content-main {
  display: block;
  background: #eee;
  width: 735px;
  float: right;
  padding: 20px;
}

header a {
  color: lightblue;
}

header {
  display: block;
  margin: auto;
  width: 975px;
}

header nav {
  float: right;
}

header li {
  float: left;
  padding: 9px;
}

header input {
  color: lightblue;
  background: none;
  border: 0;
}