/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

html, header, nav, ul, li, h1, body, label, input, select, form {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

h1#sign-in {
	text-align: center;
	padding: 50px;
	font-size: 40px;
	padding-bottom: 30px;
}

ul {
	list-style: none;
}

body {
	font-family: sans-serif;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

.signed-out form {
	margin: auto;
	width: 300px;
	display: block;
	padding: 15px;
  padding-bottom: 0;
}

#new-user .first, #new-user .second, #new-user .third {
	display: none;
}

#new-user.first .first, #new-user.second .second, #new-user.third .third {
	display: block;
}

.signed-out label {
	display: block;
  font-size: 15px;
  color: #444;
}

.signed-out select, .signed-out input {
	display: block;
	margin-bottom: 15px;
  margin-top: 5px;
	border: 2px solid lightgrey;
}

input {
  padding: 5px;
}

.signed-out #submit.submit, button {
  padding: 10px 20px;
	background: #44a;
  color: white;
  border: none;
}

button {
	font-size: 16px;
	margin: 0 0 25px 0;
}

p {
	margin-left: 50px;
}

.signed-out #submit.submit:hover {
  opacity: 0.6;
}

form#demo-user {
  padding: 0;
}

.signed-out .submit.demo-user#submit {
  padding: 8px 18px;
  background: red;
  margin: 0;
  border: 2px solid blue;
}

body.signed-out {
	background: #eee;
}

.signed-out header h1 {
	float: left;
	font-size: 45px;
}

.signed-out .light {
	color: #44a;
}

.signed-out .dark {
	color: #00f;
}

.signed-out nav ul {
	float: right;
}

.signed-out header {
	border-bottom: 1px solid lightgrey;
	background: #eee;
}

.signed-out header nav {
	width: 800px;
	margin: auto;
	padding: 20px;
}

.signed-out nav ul li {
	float: left;
	padding: 15px 10px;
  margin-top: 5px;
}

main#sign-up {
  width: 400px;
  margin: auto;
}