// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.matches#top {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.matches h1 {
  font-size: 40px;
}

.matches#main {
  padding-top: 10px;
}

.matches form {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

.matches h3 {
  font-size: 12px;
  float: left;
}

#age {
  float: left;
}

.matches select {
  background: white;
  border: 1px solid lightgrey;
  float: left;
}

.matches .age {
  float: left;
  width: 100px;
}

ul#matches {
  border-top: 1px solid lightgrey;
  padding: 10px;
}