// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.matches#top {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.matches h1 {
  font-size: 40px;
}

.matches#main {
  padding-top: 10px;
}