<!DOCTYPE html>
<html>
<head>
  <title>JoshKCupid</title>
  <%= stylesheet_link_tag    "signed_out", media: "all" %>
  <%= javascript_include_tag "signed_out" %>
  <%= csrf_meta_tags %>
</head>
<body class="signed-out">

<%= yield %>

</body>
</html>
